#todo-app {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

#todo-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#todo-input {
  width: 50%;
  padding: 12px;
  font-size: 16px;
  border-radius: 4px;
}

button[type="submit"] {
  width: 20%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

#todo-list {
  padding: 0;
  margin: 0;
}

#todo-list li {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border: 1px solid #ccc;
  width: 100%;

}

.btn-delete {
  background-color: #e93636;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 3px;
  margin-top: 15px;
  margin-left: 7px;
}

.btn-edit {
  background-color: #3651e9;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 3px;
  margin-top: 15px;
}